.diceTrack {
    --border-width: 24px;

    align-items: center;
    background-color: #006400;
    border: var(--border-width) solid #422204;
    border-radius: 64px;
    box-shadow: inset 0 3px rgb(0 0 0 / 30%), inset 0 -3px rgb(255 255 255 / 30%);
    grid-template-columns: 1fr 4px 1fr;
    display: grid;
    height: calc(var(--die-size) * 2 + var(--padding-s) + var(--padding-l) * 2 + var(--border-width) * 2);
    justify-content: stretch;
    position: relative;
    width: calc(var(--diamino-width) * 16 + 2px * 15);
}

.keptArea, .playArea {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    grid-gap: var(--padding-s);
    height: 100%;
    justify-content: center;
    padding: var(--padding-l);
    position: relative;
}

.separator {
    border-inline-end: 4px #004600 dashed;
    height: 100%;
}

.gameNameWrapper {
    align-items: center;
    display: flex;
    height: var(--border-width);
    justify-content: center;
    inset-inline-start: 0;
    position: absolute;
    inset-block-start: calc(var(--border-width) * -1);
    width: 100%;
}

.gameName {
    color: rgb(255 255 255 / 10%);
    font-size: .9rem;
    font-weight: 800;
    letter-spacing: .4rem;
    text-shadow: 0 1px 0 rgb(255 255 255 / 30%), 0 -1px 0 rgb(0 0 0 / 70%);
}

.playArea .buttonWrapper {
    align-items: center;
    display: flex;
    inset: 0;
    justify-content: center;
    position: absolute;
}

.diceTrack .diceAction {
    align-items: center;
    display: flex;
    z-index: 10;
}

.diceTrack img.icon {
    transition: all 200ms ease-out;
}

.diceTrack .keepDice {
    --width: 90px;

    align-items: center;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    left: calc(50% - var(--width) / 2);
    position: absolute;
    top: 70%;
    width: var(--width);
}

.diceTrack .throwDice {
    align-items: center;
    border-radius: 50%;
    height: 3rem;
    justify-content: center;
    padding: 0;
    width: 3rem;
}

.diceTrack .keepDice .die {
    margin-inline-end: -6px;
}

.diceTrack .throwDice:hover img {
    transform: scale3d(1.3, 1.3, 1) rotateZ(360deg);
}

.diceTrack .keepDice:not(:disabled):hover .arrow {
    opacity: 0;
}

.diceTrack .keepDice:not(:disabled):hover .die {
    transform: translateX(-30px);
}

.diceTrack .keepDice:disabled .icon {
    opacity: .6;
}

.diceTrack .throwDice:disabled {
    display: none;
}

.icon {
    height: 2rem;
    width: 2rem;
}

.totalValue {
    --width: 60px;

    align-items: center;
    background-color: #004600;
    border-radius: 10px;
    color: #fff;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    left: calc(50% - var(--width) / 2);
    padding: var(--padding-xs);
    position: absolute;
    width: var(--width);
}

.hasDiamond {
    inset-block-start: var(--margin-s);
    inset-inline-end: var(--margin-s);
    position: absolute;
}

.hasDiamond.hidden {
    opacity: 0;
}

.hasDiamond img {
    height: auto;
    inset: 0;
    position: absolute;
    width: 100%;
}

@keyframes drop {
    from {
        filter: drop-shadow(20px 20px 20px #000);
        opacity: 0;
        transform: rotateZ(0) scale(5);
        transition: all cubic-bezier(.53, .22, .73, .28);
    }
    to {
        filter: drop-shadow(2px 2px 4px #000);
        opacity: 1;
        transform: rotateZ(-14deg) scale(1);
    }
}

.busted {
    align-items: center;
    animation: drop 400ms forwards;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.busted span {
    background-color: rgb(115 0 0/ 40%);
    border-radius: var(--border-radius-l);
    color: #fff;
    font-size: 5rem;
    font-weight: bolder;
    letter-spacing: 1rem;
    padding: 1rem 4rem;
    text-shadow: 0 0 6px var(--danger-color);
}
