.game {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    position: relative;
    row-gap: 20px;
}

.game .settings {
    align-self: flex-end;
    margin-block: -10px -20px;
    padding: 4px;
}

.game .settings.hidden {
    display: none;
}
