.diamino {
    align-items: stretch;
    background-color: rgb(255 235 205);
    border: 0;
    border-radius: var(--border-radius-m);
    box-shadow: 0 0 2px 1px hsl(36 100% 35% / 1);
    display: flex;
    flex-direction: column;
    height: var(--diamino-height);
    padding: 0;
    transition: transform 200ms ease-out;
    width: var(--diamino-width);
}

.stacked {
    position: absolute;
}

.turned {
    background-color: rgb(217 191 153);
}

.pickable {
    transform: scale3d(1.1, 1.1, 1);
}

.pickable.hasDiamond, .stealable.hasDiamond {
    cursor: pointer;
}

.pickable.hasDiamond:hover, .stealable.hasDiamond:hover {
    background-color: #ffdfab;
}

.hint {
    outline: 2px solid red;
}

.number {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.points {
    align-items: center;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.points.fivePlus {
    font-size: .7rem;
}
