.player {
    align-items: center;
    background-color: var(--accent-color-darker);
    border-radius: 6px;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 5px;
    transition: background-color 200ms ease-in-out;
    width: 120px;
}

.player.playing {
    background-color: var(--accent-color-dark);
}

.name {
    font-size: 1.2rem;
}

.score {
    align-items: center;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
}

.scoreSeparator {
    font-size: 1rem;
    font-weight: lighter;
    margin-inline: .8rem;
}

.stackedDiaminoes {
    border: 2px dashed hsl(36 100% 60% / 60%);
    border-radius: 6px;
    height: var(--diamino-height);
    width: var(--diamino-width);
}

.stackedDiaminoes.hidden {
    border: 0;
}
