.player {
    --padding: var(--padding-s);
    --width: 120px;

    align-items: center;
    background-color: var(--accent-color-darker);
    border-radius: var(--border-radius-l);
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    row-gap: 5px;
    transition: background-color 200ms ease-in-out, transform 200ms ease-out;
    width: var(--width);
}

.player.playing {
    background-color: var(--accent-color-dark);
    transform: scale3d(1.1, 1.1, 1);
}

.player.gameOver {
    flex-direction: row;
}

.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: calc(var(--width) - var(--padding) * 2);
}

.name {
    font-size: 1.2rem;
}

.score {
    align-items: center;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
}

.scoreSeparator {
    font-size: 1rem;
    font-weight: lighter;
    margin-inline: .8rem;
}

.stackedDiaminoes {
    border: 2px dashed hsl(36 100% 60% / 60%);
    border-radius: var(--border-radius-m);
    height: var(--diamino-height);
    margin-block-end: var(--margin-s);
    width: var(--diamino-width);
}

.stackedDiaminoes.hidden {
    border: 0;
}

.expandedDiaminoes {
    align-items: center;
    column-gap: var(--padding);
    display: flex;
    height: var(--diamino-height);
    margin-inline-start: calc(var(--padding) * 2);
}
