.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-block-start: 4rem;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}
